[tool.ruff]
target-version = "py313"
#BLACK RULES
line-length = 88
indent-width = 4

exclude = [
    ".gitignore",
    ".ruff_cache",
    ".venv",
    ".vscode",
    "build",
    "dist",
    "venv",
    "config.py",
    "readme.md",
    "requirements.txt",
    ".pre-commit-config.yaml"
]

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F"]

fixable = ["ALL"]
unfixable = []

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = false
docstring-code-line-length = "dynamic"

[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -q"
testpaths = ["tests"]
pythonpath = ["."]